/*
Main Cascade Style Sheet for project: Levelup
Author: @Pablosalazarbr
Creation: 26-Sep-2022
*/

/* Includes and styles for the general structure */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');

body, html{
    width: 100%;
    height: 100%;
}

body{
    --main-color: rgb(37, 150, 190);
    --secondary-color: rgb(212, 223, 63);
    --third-color: whitesmoke;
    font-family: 'Inter Tight', sans-serif;
}