{% extends '/layout.html' %}

{% block title %}

{{data.titulo}}

{% endblock %}

{% block body %}
<div id="main-container">
    <div id="form-container">
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="user" id="user">
            </div>
            <div class="form-group">
                <input type="password" name="pass" id="pass">
            </div>
            <div class="form-group">
                <input type="submit" value="Inicia Sesion">
            </div>
        </form>
    </div>
</div>
<div id="footer-container"></div>
{% endblock %}